@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
input, textarea {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
h1, h2, h3, h4, h5, h6, p, hr, ul, ol {
    margin: 0;
    padding: 0;
}