@import '../../assests/styles/mixins.scss';
@import '../../assests/styles/vaiables.scss';

.menu {
    width: 500px;
    height: 600px;
    background: #F77462;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
    }
    &__city {
        width: 90%;
        height: 40px;
        background: none;
        border: 2px solid #74AFB2;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        margin: 40px 0;
        &::placeholder {
            color: #fff;
        }
    }
    &__get {
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
    }
}