@import '../../assests/styles/mixins.scss';
@import '../../assests/styles/vaiables.scss';

.weather {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__city {
        color: #65B6BC;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 50px;
    }
    &__weather {
        list-style: none;
        li {
            display: flex;
            align-items: center;
            font-size: 16px;
        }
        &-temp {
            margin: 0 15px;
            color: #F77462;
        }
    }
}

@media (max-width: 1125px) {
    .weather {
        width: auto;
    }
}